@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:wght@400;500;700&family=Yellowtail&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Runik", sans-serif;
}
